@CHARSET "UTF-8";
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select, img {margin: 0;padding: 0;}
body { font:12px/1.5 "Microsoft YaHei",tahoma,arial,Hiragino Sans GB,\5b8b\4f53; overflow: hidden;position: relative;}
html,body,.am-page,.am-body,.am-bg{height:100%; width:100%;}
html,body,.am-page{ overflow:hidden; }
ul,li {list-style:none;}
.fl{
  float: left !important;
}
.fr{
  float: right !important;
}